.button {
  border: none;
  background-color: darkcyan;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;

  &--default {
    background-color: transparent;
    border: 1px solid gray;
    color: gray;

    &:hover {
      border: 1px solid blue;
      color: blue;
    }
  }

  &--primary {
    background-color: blue;
    border: 1px solid blue;
    color: white;

    &:hover {
      background-color: lightblue;
      border: 1px solid lightblue;
      color: white;
    }
  }

  &--dashed {
    border: 1px dashed gray;
    color: gray;

    &:hover {
      border: 1px dashed blue;
      color: blue;
    }
  }

  &--text {
    background-color: transparent;
    border: 1px solid transparent;
    color: gray;

    &:hover {
      border: 1px solid lightgrey;
      color: black;
      background-color: lightgrey;
    }
  }

  &--link {
    background-color: transparent;
    color: blue;
    border: 1px solid transparent;

    &:hover {
      color: lightblue;
    }
  }

  &:disabled {
    background-color: lightgray;
    color: black;
    pointer-events: none;
  }
}