.gifs-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__title {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    font-size: 32px;
    color: black;
    
    &--noPosee{
      margin-top: 30px;
    }
  }
}