.gift-t-list {
  background-color: white;
  padding: 3rem;
  width: 700px;
  &__title
    {
        text-align: center;
        margin: 0;
        margin-bottom: 20px;
        font-size:32px;
        color: black;
        
    }
}
